::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: rgb(204, 0, 0);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(255, 255, 255);
}

.label-primary {
    background-color: rgb(204, 0, 0);
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inblock {
    display: inline-block;
}

.ease {
    transition: all 0.3s ease-in-out 0s;
}

.pointer:hover {
    cursor: pointer;
}

.vam {
    display: table-cell;
    vertical-align: middle;
}

.text-color {
    color: rgb(204, 0, 0);
}

body {
    font-family: "Open Sans", sans-serif;
    background: fixed rgb(0, 0, 0);
    color: rgb(153, 153, 153);
    font-size: 13px;
}

h1,
h2,
h3,
h4 {
    font-family: Oswald, sans-serif;
}

textarea {
    resize: vertical;
}

[class*="col-0"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

#home [class*="col-z"] {
    padding: 0px;
}

span.home-label {
    font-family: Oswald;
    text-transform: uppercase;
    padding: 7px 15px;
    position: absolute;
    left: 0px;
    z-index: 1;
    background-color: rgba(185, 9, 11, 0.8);
    color: rgb(255, 255, 255);
}

#featured {
    padding: 15px 0px;
}

.ft-icon {
    font-size: 40px;
    position: relative;
    top: 0px;
}

.ft-title {
    padding: 5px 0px;
    font-family: Oswald;
    text-transform: uppercase;
    color: rgb(204, 0, 0);
}

.ft-text {
    padding-bottom: 15px;
}

.ft-col:hover {
    cursor: default;
}

.ft-col:hover .ft-icon {
    top: -10px;
    color: rgb(255, 255, 255);
}

.ft-col:hover .ft-title {
    color: rgb(255, 255, 255);
}

.col-half-offset {
    margin-left: 4.16667%;
}

.row-eq-height {
    display: flex;
}

.col-box {
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.center-container {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.center-wrapper {
    display: table-cell;
    vertical-align: middle;
}

article {
    position: relative;
}

a {
    color: rgb(204, 204, 204);
}

a:hover,
a:focus {
    color: rgb(255, 255, 255);
    outline: none;
}

a.nodecor:hover,
a.nodecor:focus {
    text-decoration: none;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-color: rgb(51, 51, 51);
}

.container {
    position: relative;
    max-width: 1000px;
}

.lead {
    font-size: 16px;
}

.btn,
.input-group,
.input-group-btn,
.panel,
.alert,
.modal-content,
.input-group-addon,
.list-group-item {
    border-radius: 0px !important;
}

.btn {
    border: 0px;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none;
}

.btn-default {
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
}

.btn-default:hover,
.btn-default.focus,
.btn-default:focus,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
}

.btn-primary {
    background-color: rgb(204, 0, 0);
}

.btn-primary:hover {
    background-color: rgb(153, 0, 0);
}

.input-group-addon {
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    border-color: transparent;
}

#back-layer {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

.inner-layer {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url("") rgba(0, 0, 0, 0.3);
}

.side-toggle {
    position: absolute;
    top: 25px;
    left: 15px;
    border: 0px;
    background-color: transparent;
    outline: none;
    color: rgb(255, 255, 255);
    z-index: 1;
}

.navbar-default {
    background-color: rgba(0, 0, 0, 0.8);
    border-color: rgb(34, 34, 34);
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: transparent;
}

.navbar-default .navbar-form {
    margin: 18px 0px;
    font-family: Oswald;
    padding: 0px;
}

.navbar-form .input-group {
    display: inline-block;
    width: 40%;
}

.navbar-default .navbar-form .input-group {
    margin-bottom: 0px;
}

.navbar-default .navbar-form .form-control {
    border: 1px solid rgb(51, 51, 51);
    border-radius: 15px;
}

.navbar-default .navbar-form .input-group-addon .spaceleft {
    margin-left: 15px;
}

.navbar-default .navbar-form .input-group-btn .btn {
    border: 1px solid rgb(153, 0, 0);
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
    color: rgb(204, 204, 204);
    padding: 25px 15px;
    font-family: Oswald, "sans serif";
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: rgb(255, 255, 255);
    outline: none;
}

.container>.navbar-header {
    margin-left: 30px;
    position: relative;
    z-index: 1;
}

.navbar-default .navbar-toggle {
    border: 0px;
    color: rgb(255, 255, 255);
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-right .icon {
    margin-right: 7px;
    color: rgb(204, 0, 0);
}

.navbar-center {
    position: absolute;
    width: 90%;
    text-align: center;
    margin: auto;
}

#side-menu {
    font-family: Oswald;
    font-size: larger;
}

#side-menu .icon {
    margin-right: 11px;
}

#side-menu .navmenu-brand {
    padding: 15px;
}

#side-menu .sub-menu {
    padding: 0px 0px 0px 30px;
    list-style: none;
}

#side-menu .sub-menu li a {
    padding: 5px 15px;
    position: relative;
    display: block;
    text-decoration: none;
}

#main {
    background-color: rgb(0, 0, 0);
}

.modal {
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-dialog {
    overflow: hidden;
}

.modal-header {
    background-color: rgb(17, 17, 17);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px -1px inset;
}

.modal-header h3 {
    margin: 0px;
    font-size: 18px;
}

.modal-content {
    background-color: rgb(34, 34, 34);
    border-color: rgb(51, 51, 51);
}

.modal-footer {
    background-color: rgb(17, 17, 17);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px inset;
}

#search-modal .form-group {
    margin-bottom: 0px;
}

#search-modal .modal-content {
    background-color: rgb(34, 34, 34);
    border: 1px solid rgb(51, 51, 51);
}

#search-modal .search-option,
#search-modal .search-box {
    padding: 10px 15px;
}

#search-modal .search-option {
    background-color: rgb(17, 17, 17);
}

#player-modal .modal-header {
    font-family: Oswald, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
}

#player-modal .modal-body {
    padding: 0px;
    overflow: hidden;
    position: relative;
}

#player-modal .modal-body .img-cover {
    background: url("") rgba(0, 0, 0, 0.3);
}

#player-modal .modal-body .offerlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: right center no-repeat;
}

#player-modal .modal-body .modal-text,
#player-modal .modal-body .modal-ft {
    position: absolute;
    bottom: 81px;
    padding: 10px 15px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: larger;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
}

#player-modal .modal-body .modal-text {
    opacity: 1;
    left: 0px;
}

#player-modal .modal-body .modal-ft {
    opacity: 0;
    left: -15px;
}

#player-modal .modal-body .modal-ft ul {
    list-style: none;
}

#player-modal .modal-body .modal-ft ul li .icon {
    color: rgb(255, 255, 255);
    margin-right: 10px;
}

#player-modal .modal-body .modal-text strong {
    color: rgb(255, 255, 255);
}

#player-modal .modal-footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.8);
}

#player-modal .modal-content:hover .modal-body .offerlay {
    background-color: rgba(0, 0, 0, 0.5);
}

#player-modal .modal-content:hover .modal-body .modal-text {
    left: -15px;
    opacity: 0;
}

#player-modal .modal-content:hover .modal-body .modal-ft {
    left: 0px;
    opacity: 1;
}

#player-modal .btn-bg {
    height: 50px;
}

#player-modal .btn-bg::before {
    width: 37px;
    height: 35px;
}

.form-control {
    box-shadow: none;
    background: rgb(0, 0, 0);
    color: rgb(204, 204, 204);
    border: 0px;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: rgb(25, 25, 25);
    color: rgb(85, 85, 85);
}

.navmenu-default {
    background-color: rgb(34, 34, 34);
    box-shadow: rgb(0, 0, 0) -5px 0px 15px -5px inset;
    border-color: rgb(17, 17, 17);
}

.canvas-slid .icon-menu::before {
    content: "";
}

.navmenu-default .navmenu-nav>.active>a,
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a,
.navmenu-default .navmenu-nav>.active>a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a:hover,
.navmenu-default .navmenu-nav>.active>a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a:focus {
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px, rgba(0, 0, 0, 0.3) 0px -1px inset;
}

.alert-agree {
    margin-top: 20px;
    background-color: rgb(34, 34, 34);
    z-index: 1;
}

#search-modal .search-option {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px -1px inset;
}

article.media {
    padding: 10px;
    margin: 1px 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

article.media:hover {
    background-color: rgb(34, 34, 34);
}

.breadcrumb {
    margin-top: 15px;
    padding-left: 0px;
    background-color: transparent;
}

.breadcrumb li.home {
    margin-right: 10px;
}

.breadcrumb li a {
    text-decoration: none;
}

.poster-container {
    margin: 1px;
    overflow: hidden;
    position: relative;
}

.poster-container img {
    max-width: 100%;
}

.img-container {
    width: 100%;
    padding-bottom: 150%;
    position: relative;
}

.img-container img {
    position: absolute;
    inset: 0px;
    min-height: 100%;
}

.page-header,
.entry-header {
    margin: 0px;
    border: 0px;
}

h1.entry-title,
h1.page-title {
    font-size: 28px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px, rgba(0, 0, 0, 0.5) 0px -1px inset;
}

h2.entry-title {
    font-size: larger;
    margin-top: 0px;
    margin-bottom: 0px;
}

.entry-meta {
    padding-top: 5px;
}

.col-box .entry-header {
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 10px;
}

.nav-tabs {
    border-color: rgb(34, 34, 34);
}

.single .entry-content {
    padding: 15px 0px;
}

.page-content {
    padding-bottom: 15px;
}

.page-content ul {
    margin-left: 17px;
}

footer.entry-footer,
footer.page-footer {
    padding: 15px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px inset;
}

form .input-group {
    width: 100%;
    margin-bottom: 5px;
}

.tab-content {
    padding: 15px 0px;
}

.nav>li>a {
    text-transform: uppercase;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li>a:hover,
.nav>li>a:focus,
.nav>li>a:hover {
    background: 0px 0px;
    border-color: transparent transparent rgb(185, 9, 11);
}

.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
    padding: 5px 10px;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border-color: rgb(34, 34, 34);
}

.table-hover>tbody>tr:hover {
    background-color: rgb(34, 34, 34);
}

.table th {
    white-space: nowrap;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
}

.table tr:hover td.ext-title {
    color: rgb(255, 255, 255);
}

#ext-download li {
    list-style: none;
    position: relative;
    padding: 5px 0px;
    border-bottom: 1px solid rgb(34, 34, 34);
}

#ext-download li:last-child {
    border-bottom: 0px;
}

#ext-download li:hover {
    background-color: rgb(34, 34, 34);
}

#ext-download li:hover .ext-title {
    padding-left: 15px;
}

#ext-download .ext-row .label {
    margin-left: 15px;
}

#ext-download .ext-row .ext-title {
    padding-right: 175px;
}

#ext-download .ext-row .ext-title span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

#ext-download .ext-row .ext-right {
    position: absolute;
    right: 0px;
    top: 3px;
}

.rating {
    display: inline-block;
    color: rgb(68, 68, 68);
}

.rating-on {
    color: rgb(255, 153, 0);
}

.cast-list .media,
.season-list .media,
.similar-list .media {
    margin-bottom: 10px;
}

.cast-list .media-body {
    max-height: 63px;
}

.season-list .media i {
    display: block;
}

.main-poster {
    margin-bottom: 15px;
}

h2.sub-title,
h3.sub-title {
    margin-top: 0px;
}

.widget {
    margin-bottom: 15px;
}

.sub-section,
.widget-title {
    height: 24px;
}

.sub-section span,
.widget-title span {
    float: left;
    margin-right: 20px;
    padding: 5px 10px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: rgb(185, 9, 11);
    font-size: 13px;
}

.sub-section::after,
.widget-title::after {
    content: "";
    background: rgb(185, 9, 11);
    height: 1px;
    overflow: hidden;
    display: block;
    position: relative;
    top: 10px;
}

.media-heading {
    font-size: 16px;
}

.img-wrapper {
    position: relative;
}

.img-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.1);
}

.col-box .img-cover {
    box-shadow: rgb(0, 0, 0) 0px -80px 100px -25px inset;
}

.col-box .play-btn a {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}

.col-box .play-btn-border,
.video .play-btn-border {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 0px;
    display: inline-block;
    z-index: 2;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.4, 1.4);
}

.video .play-btn-border {
    opacity: 0.5;
}

.col-box .play-btn-border .headline-round,
.video .play-btn-border .headline-round {
    border: 5px solid rgb(204, 0, 0);
    padding: 10px 14px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
}

.video .play-btn-border .headline-round {
    border-color: transparent;
}

.col-box .play-btn-border .fa,
.video .play-btn-border .fa {
    font-size: 36px;
}

.col-box:hover img {
    transform: scale(1.1);
}

.col-box:hover .detail-container {
    background-color: rgba(0, 0, 0, 0.5);
}

.col-box:hover .play-btn-border,
.video:hover .play-btn-border {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1, 1);
}

.video:hover .play-btn-border .headline-round {
    border-color: rgb(204, 0, 0);
}

.detail-container {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}

.media-list {
    margin: 0px;
    padding: 0px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px, rgb(0, 0, 0) 0px -1px inset;
}

.media-wrapper li:last-child {
    box-shadow: none;
}

.media-list a {
    display: block;
    padding: 10px 0px;
}

.media-list a:hover .img-cover {
    background-color: rgba(0, 0, 0, 0.8);
}

.media-list .media-left,
.media-list>.pull-left {
    padding-right: 15px;
}

.media-list .plot {
    margin: 7px 0px 0px;
    color: rgb(153, 153, 153);
}

.media-list .media-object {
    margin-bottom: 8px;
    background-color: rgb(0, 0, 0);
}

.media-list .icon-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

.media-list .icon-wrapper .fa {
    display: table-cell;
    vertical-align: middle;
    opacity: 0;
    color: rgb(204, 0, 0);
}

.media-list a:hover .icon-wrapper .fa {
    opacity: 1;
}

.media-left img,
img.main-poster,
.img-container img {
    background-color: rgb(0, 0, 0);
}

a.side-list {
    display: block;
    padding: 7px;
    margin-top: 0px;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 1px;
}

a.side-list:hover {
    background-color: rgb(34, 34, 34);
}

.side-list p {
    margin-top: 7px;
    color: rgb(153, 153, 153);
}

.box {
    padding: 25px 0px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px, rgb(0, 0, 0) 0px -1px inset;
}

.thumb {
    margin-bottom: 15px;
    border: 1px solid transparent;
}

.thumb:hover {
    border-color: rgb(204, 0, 0);
}

.list-group-item.comment {
    background-color: rgba(0, 0, 0, 0.5);
    border: 0px;
    margin-bottom: 1px;
}

.list-group-item.comment .list-group-item-text {
    padding: 10px 0px;
}

.list-group-item.comment .list-group-item-heading {
    font-size: initial;
    color: rgb(255, 255, 255);
}

#button-offer {
    padding: 15px 0px;
    background: rgb(0, 0, 0);
}

.btn-offer:focus,
.btn-offer:active {
    color: rgb(255, 255, 255);
}

.btn-watch {
    background-color: rgb(204, 0, 0);
}

.btn-download {
    background-color: rgb(62, 158, 8);
}

.btn-offer {
    color: rgb(255, 255, 255);
    padding: 15px 20px 15px 70px;
    text-decoration: none;
    border-radius: 3px;
    font-family: Oswald, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: rgb(0, 0, 0) 0px 1px 1px;
    position: relative;
    text-transform: uppercase;
    margin: 2px;
    outline: none !important;
}

.btn-bg {
    color: rgb(255, 255, 255);
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 54px;
    top: 0px;
    left: -1px;
    background-color: rgb(51, 51, 51);
    border-radius: 3px 0px 0px 3px;
}

.btn-bg::before {
    content: "";
    position: absolute;
    top: 8px;
    width: 38px;
    height: 38px;
    background: inherit;
    border-bottom-style: inherit;
    border-bottom-width: inherit;
    border-left-style: inherit;
    border-left-width: inherit;
    border-image: inherit;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-radius: 0px 4px 0px 0px;
    transform: rotate(45deg);
    left: 10px;
    border-right: 1px solid;
    border-top: 1px solid;
}

.btn-bg .icon {
    position: relative;
    top: 16px;
    left: 7px;
}

.btn-watch:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(153, 0, 0);
}

.btn-download:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(68, 68, 68);
}

#player,
#home {
    padding: 15px 0px;
    background: url("") 0px 0px / cover no-repeat fixed;
    position: relative;
}

.player-cover {
    position: absolute;
    margin-top: 15px;
    width: 100%;
    height: 100%;
    background: url("") rgba(0, 0, 0, 0.3);
}

#video {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 10px;
}

.video {
    box-shadow: rgb(0, 0, 0) 0px 10px 15px -10px;
    background: rgb(0, 0, 0);
}

.spinner-wrapper {
    position: absolute;
    width: 100%;
    height: 101%;
    text-align: center;
    display: table;
    padding-bottom: 1px;
    background: rgb(0, 0, 0);
}

.spinner.loading::before {
    content: "";
    height: 66px;
    width: 66px;
    margin: -36px auto auto -33px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(204, 0, 0) rgb(204, 0, 0) rgb(17, 17, 17);
    border-radius: 100%;
    animation: 0.7s linear 0s infinite normal none running rotation;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.play-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
    visibility: hidden;
}

.media-controls {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -36px;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
}

.media-controls .btn {
    height: 36px;
    background: 0px 0px padding-box;
    color: rgb(153, 153, 153);
    float: left;
    border-radius: 0px;
    outline: 0px !important;
}

.media-controls .btn:hover {
    color: rgb(255, 255, 255);
}

.media-controls #sliderContainer {
    padding: 6px 14px 10px;
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, 0.6);
    zoom: 1;
    margin-top: -117px !important;
}

.media-controls #rightControls .btn {
    box-shadow: none;
}

.media-controls .glyphicon-hd-video {
    position: absolute;
    right: 0px;
    color: rgb(204, 0, 0);
}

.media-controls #setting_btn.dropup .dropdown-menu {
    border: 0px;
    border-radius: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(204, 204, 204);
    font-size: smaller;
}

.media-controls #setting_btn.dropup .dropdown-menu li {
    padding: 5px 15px;
}

.media-controls #setting_btn.dropup .dropdown-menu li.active {
    background-color: rgb(204, 0, 0);
}

.video:hover .media-controls {
    bottom: -1px;
    opacity: 1;
}

.video:hover .play-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
}

footer#site-footer {
    padding: 15px 0px;
}

.pagination>li>a,
.pagination>li>span {
    color: rgb(255, 255, 255);
    background-color: rgb(51, 51, 51);
    border-color: rgb(17, 17, 17);
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: rgb(204, 0, 0);
    border-color: rgb(17, 17, 17);
    pointer-events: none;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    background-color: rgb(34, 34, 34);
    border-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
}

.site-links li {
    list-style: none;
    display: inline-block;
}

.site-links li a {
    padding: 0px 10px;
    display: block;
    border-left: 1px solid rgb(51, 51, 51);
}

.site-links li:first-child a {
    padding-left: 0px;
    border-left: 0px;
}

.site-note::before {
    content: "";
    position: relative;
    width: 10%;
    left: 45%;
    margin: 15px 0px;
    border-bottom: 2px solid rgb(204, 0, 0);
    display: block;
}

.site-note {
    font-size: small;
}

#counter {
    position: fixed;
    right: 15px;
    bottom: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 7px 15px;
}

.globe {
    margin-right: 10px;
    color: rgb(255, 255, 255);
}

.globe::before {
    content: "";
    height: 19px;
    width: 19px;
    position: absolute;
    top: 7px;
    left: 11px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(204, 0, 0) rgb(204, 0, 0) rgb(255, 255, 255);
    border-radius: 100%;
    animation: 3s linear 0s infinite normal none running rotation;
    display: block;
}

.counter-value {
    color: rgb(255, 255, 255);
}

.flag {
    width: 16px;
    height: 11px;
    display: inline-block;
    margin-right: 5px;
    background: url("img/flags.html") no-repeat;
}

.flag.flag-ad {
    background-position: -16px 0px;
}

.flag.flag-ae {
    background-position: -32px 0px;
}

.flag.flag-af {
    background-position: -48px 0px;
}

.flag.flag-ag {
    background-position: -64px 0px;
}

.flag.flag-ai {
    background-position: -80px 0px;
}

.flag.flag-al {
    background-position: -96px 0px;
}

.flag.flag-am {
    background-position: -112px 0px;
}

.flag.flag-an {
    background-position: -128px 0px;
}

.flag.flag-ao {
    background-position: -144px 0px;
}

.flag.flag-ar {
    background-position: -160px 0px;
}

.flag.flag-as {
    background-position: -176px 0px;
}

.flag.flag-at {
    background-position: -192px 0px;
}

.flag.flag-au {
    background-position: -208px 0px;
}

.flag.flag-aw {
    background-position: -224px 0px;
}

.flag.flag-az {
    background-position: -240px 0px;
}

.flag.flag-ba {
    background-position: 0px -11px;
}

.flag.flag-bb {
    background-position: -16px -11px;
}

.flag.flag-bd {
    background-position: -32px -11px;
}

.flag.flag-be {
    background-position: -48px -11px;
}

.flag.flag-bf {
    background-position: -64px -11px;
}

.flag.flag-bg {
    background-position: -80px -11px;
}

.flag.flag-bh {
    background-position: -96px -11px;
}

.flag.flag-bi {
    background-position: -112px -11px;
}

.flag.flag-bj {
    background-position: -128px -11px;
}

.flag.flag-bm {
    background-position: -144px -11px;
}

.flag.flag-bn {
    background-position: -160px -11px;
}

.flag.flag-bo {
    background-position: -176px -11px;
}

.flag.flag-br {
    background-position: -192px -11px;
}

.flag.flag-bs {
    background-position: -208px -11px;
}

.flag.flag-bt {
    background-position: -224px -11px;
}

.flag.flag-bv {
    background-position: -240px -11px;
}

.flag.flag-bw {
    background-position: 0px -22px;
}

.flag.flag-by {
    background-position: -16px -22px;
}

.flag.flag-bz {
    background-position: -32px -22px;
}

.flag.flag-ca {
    background-position: -48px -22px;
}

.flag.flag-catalonia {
    background-position: -64px -22px;
}

.flag.flag-cd {
    background-position: -80px -22px;
}

.flag.flag-cf {
    background-position: -96px -22px;
}

.flag.flag-cg {
    background-position: -112px -22px;
}

.flag.flag-ch {
    background-position: -128px -22px;
}

.flag.flag-ci {
    background-position: -144px -22px;
}

.flag.flag-ck {
    background-position: -160px -22px;
}

.flag.flag-cl {
    background-position: -176px -22px;
}

.flag.flag-cm {
    background-position: -192px -22px;
}

.flag.flag-cn {
    background-position: -208px -22px;
}

.flag.flag-co {
    background-position: -224px -22px;
}

.flag.flag-cr {
    background-position: -240px -22px;
}

.flag.flag-cu {
    background-position: 0px -33px;
}

.flag.flag-cv {
    background-position: -16px -33px;
}

.flag.flag-cw {
    background-position: -32px -33px;
}

.flag.flag-cy {
    background-position: -48px -33px;
}

.flag.flag-cz {
    background-position: -64px -33px;
}

.flag.flag-de {
    background-position: -80px -33px;
}

.flag.flag-dj {
    background-position: -96px -33px;
}

.flag.flag-dk {
    background-position: -112px -33px;
}

.flag.flag-dm {
    background-position: -128px -33px;
}

.flag.flag-do {
    background-position: -144px -33px;
}

.flag.flag-dz {
    background-position: -160px -33px;
}

.flag.flag-ec {
    background-position: -176px -33px;
}

.flag.flag-ee {
    background-position: -192px -33px;
}

.flag.flag-eg {
    background-position: -208px -33px;
}

.flag.flag-eh {
    background-position: -224px -33px;
}

.flag.flag-england {
    background-position: -240px -33px;
}

.flag.flag-er {
    background-position: 0px -44px;
}

.flag.flag-es {
    background-position: -16px -44px;
}

.flag.flag-et {
    background-position: -32px -44px;
}

.flag.flag-eu {
    background-position: -48px -44px;
}

.flag.flag-fi {
    background-position: -64px -44px;
}

.flag.flag-fj {
    background-position: -80px -44px;
}

.flag.flag-fk {
    background-position: -96px -44px;
}

.flag.flag-fm {
    background-position: -112px -44px;
}

.flag.flag-fo {
    background-position: -128px -44px;
}

.flag.flag-fr {
    background-position: -144px -44px;
}

.flag.flag-ga {
    background-position: -160px -44px;
}

.flag.flag-gb {
    background-position: -176px -44px;
}

.flag.flag-gd {
    background-position: -192px -44px;
}

.flag.flag-ge {
    background-position: -208px -44px;
}

.flag.flag-gf {
    background-position: -224px -44px;
}

.flag.flag-gg {
    background-position: -240px -44px;
}

.flag.flag-gh {
    background-position: 0px -55px;
}

.flag.flag-gi {
    background-position: -16px -55px;
}

.flag.flag-gl {
    background-position: -32px -55px;
}

.flag.flag-gm {
    background-position: -48px -55px;
}

.flag.flag-gn {
    background-position: -64px -55px;
}

.flag.flag-gp {
    background-position: -80px -55px;
}

.flag.flag-gq {
    background-position: -96px -55px;
}

.flag.flag-gr {
    background-position: -112px -55px;
}

.flag.flag-gs {
    background-position: -128px -55px;
}

.flag.flag-gt {
    background-position: -144px -55px;
}

.flag.flag-gu {
    background-position: -160px -55px;
}

.flag.flag-gw {
    background-position: -176px -55px;
}

.flag.flag-gy {
    background-position: -192px -55px;
}

.flag.flag-hk {
    background-position: -208px -55px;
}

.flag.flag-hm {
    background-position: -224px -55px;
}

.flag.flag-hn {
    background-position: -240px -55px;
}

.flag.flag-hr {
    background-position: 0px -66px;
}

.flag.flag-ht {
    background-position: -16px -66px;
}

.flag.flag-hu {
    background-position: -32px -66px;
}

.flag.flag-ic {
    background-position: -48px -66px;
}

.flag.flag-id {
    background-position: -64px -66px;
}

.flag.flag-ie {
    background-position: -80px -66px;
}

.flag.flag-il {
    background-position: -96px -66px;
}

.flag.flag-im {
    background-position: -112px -66px;
}

.flag.flag-in {
    background-position: -128px -66px;
}

.flag.flag-io {
    background-position: -144px -66px;
}

.flag.flag-iq {
    background-position: -160px -66px;
}

.flag.flag-ir {
    background-position: -176px -66px;
}

.flag.flag-is {
    background-position: -192px -66px;
}

.flag.flag-it {
    background-position: -208px -66px;
}

.flag.flag-je {
    background-position: -224px -66px;
}

.flag.flag-jm {
    background-position: -240px -66px;
}

.flag.flag-jo {
    background-position: 0px -77px;
}

.flag.flag-jp {
    background-position: -16px -77px;
}

.flag.flag-ke {
    background-position: -32px -77px;
}

.flag.flag-kg {
    background-position: -48px -77px;
}

.flag.flag-kh {
    background-position: -64px -77px;
}

.flag.flag-ki {
    background-position: -80px -77px;
}

.flag.flag-km {
    background-position: -96px -77px;
}

.flag.flag-kn {
    background-position: -112px -77px;
}

.flag.flag-kp {
    background-position: -128px -77px;
}

.flag.flag-kr {
    background-position: -144px -77px;
}

.flag.flag-kurdistan {
    background-position: -160px -77px;
}

.flag.flag-kw {
    background-position: -176px -77px;
}

.flag.flag-ky {
    background-position: -192px -77px;
}

.flag.flag-kz {
    background-position: -208px -77px;
}

.flag.flag-la {
    background-position: -224px -77px;
}

.flag.flag-lb {
    background-position: -240px -77px;
}

.flag.flag-lc {
    background-position: 0px -88px;
}

.flag.flag-li {
    background-position: -16px -88px;
}

.flag.flag-lk {
    background-position: -32px -88px;
}

.flag.flag-lr {
    background-position: -48px -88px;
}

.flag.flag-ls {
    background-position: -64px -88px;
}

.flag.flag-lt {
    background-position: -80px -88px;
}

.flag.flag-lu {
    background-position: -96px -88px;
}

.flag.flag-lv {
    background-position: -112px -88px;
}

.flag.flag-ly {
    background-position: -128px -88px;
}

.flag.flag-ma {
    background-position: -144px -88px;
}

.flag.flag-mc {
    background-position: -160px -88px;
}

.flag.flag-md {
    background-position: -176px -88px;
}

.flag.flag-me {
    background-position: -192px -88px;
}

.flag.flag-mg {
    background-position: -208px -88px;
}

.flag.flag-mh {
    background-position: -224px -88px;
}

.flag.flag-mk {
    background-position: -240px -88px;
}

.flag.flag-ml {
    background-position: 0px -99px;
}

.flag.flag-mm {
    background-position: -16px -99px;
}

.flag.flag-mn {
    background-position: -32px -99px;
}

.flag.flag-mo {
    background-position: -48px -99px;
}

.flag.flag-mp {
    background-position: -64px -99px;
}

.flag.flag-mq {
    background-position: -80px -99px;
}

.flag.flag-mr {
    background-position: -96px -99px;
}

.flag.flag-ms {
    background-position: -112px -99px;
}

.flag.flag-mt {
    background-position: -128px -99px;
}

.flag.flag-mu {
    background-position: -144px -99px;
}

.flag.flag-mv {
    background-position: -160px -99px;
}

.flag.flag-mw {
    background-position: -176px -99px;
}

.flag.flag-mx {
    background-position: -192px -99px;
}

.flag.flag-my {
    background-position: -208px -99px;
}

.flag.flag-mz {
    background-position: -224px -99px;
}

.flag.flag-na {
    background-position: -240px -99px;
}

.flag.flag-nc {
    background-position: 0px -110px;
}

.flag.flag-ne {
    background-position: -16px -110px;
}

.flag.flag-nf {
    background-position: -32px -110px;
}

.flag.flag-ng {
    background-position: -48px -110px;
}

.flag.flag-ni {
    background-position: -64px -110px;
}

.flag.flag-nl {
    background-position: -80px -110px;
}

.flag.flag-no {
    background-position: -96px -110px;
}

.flag.flag-np {
    background-position: -112px -110px;
}

.flag.flag-nr {
    background-position: -128px -110px;
}

.flag.flag-nu {
    background-position: -144px -110px;
}

.flag.flag-nz {
    background-position: -160px -110px;
}

.flag.flag-om {
    background-position: -176px -110px;
}

.flag.flag-pa {
    background-position: -192px -110px;
}

.flag.flag-pe {
    background-position: -208px -110px;
}

.flag.flag-pf {
    background-position: -224px -110px;
}

.flag.flag-pg {
    background-position: -240px -110px;
}

.flag.flag-ph {
    background-position: 0px -121px;
}

.flag.flag-pk {
    background-position: -16px -121px;
}

.flag.flag-pl {
    background-position: -32px -121px;
}

.flag.flag-pm {
    background-position: -48px -121px;
}

.flag.flag-pn {
    background-position: -64px -121px;
}

.flag.flag-pr {
    background-position: -80px -121px;
}

.flag.flag-ps {
    background-position: -96px -121px;
}

.flag.flag-pt {
    background-position: -112px -121px;
}

.flag.flag-pw {
    background-position: -128px -121px;
}

.flag.flag-py {
    background-position: -144px -121px;
}

.flag.flag-qa {
    background-position: -160px -121px;
}

.flag.flag-re {
    background-position: -176px -121px;
}

.flag.flag-ro {
    background-position: -192px -121px;
}

.flag.flag-rs {
    background-position: -208px -121px;
}

.flag.flag-ru {
    background-position: -224px -121px;
}

.flag.flag-rw {
    background-position: -240px -121px;
}

.flag.flag-sa {
    background-position: 0px -132px;
}

.flag.flag-sb {
    background-position: -16px -132px;
}

.flag.flag-sc {
    background-position: -32px -132px;
}

.flag.flag-scotland {
    background-position: -48px -132px;
}

.flag.flag-sd {
    background-position: -64px -132px;
}

.flag.flag-se {
    background-position: -80px -132px;
}

.flag.flag-sg {
    background-position: -96px -132px;
}

.flag.flag-sh {
    background-position: -112px -132px;
}

.flag.flag-si {
    background-position: -128px -132px;
}

.flag.flag-sk {
    background-position: -144px -132px;
}

.flag.flag-sl {
    background-position: -160px -132px;
}

.flag.flag-sm {
    background-position: -176px -132px;
}

.flag.flag-sn {
    background-position: -192px -132px;
}

.flag.flag-so {
    background-position: -208px -132px;
}

.flag.flag-somaliland {
    background-position: -224px -132px;
}

.flag.flag-sr {
    background-position: -240px -132px;
}

.flag.flag-ss {
    background-position: 0px -143px;
}

.flag.flag-st {
    background-position: -16px -143px;
}

.flag.flag-sv {
    background-position: -32px -143px;
}

.flag.flag-sx {
    background-position: -48px -143px;
}

.flag.flag-sy {
    background-position: -64px -143px;
}

.flag.flag-sz {
    background-position: -80px -143px;
}

.flag.flag-tc {
    background-position: -96px -143px;
}

.flag.flag-td {
    background-position: -112px -143px;
}

.flag.flag-tf {
    background-position: -128px -143px;
}

.flag.flag-tg {
    background-position: -144px -143px;
}

.flag.flag-th {
    background-position: -160px -143px;
}

.flag.flag-tibet {
    background-position: -176px -143px;
}

.flag.flag-tj {
    background-position: -192px -143px;
}

.flag.flag-tk {
    background-position: -208px -143px;
}

.flag.flag-tl {
    background-position: -224px -143px;
}

.flag.flag-tm {
    background-position: -240px -143px;
}

.flag.flag-tn {
    background-position: 0px -154px;
}

.flag.flag-to {
    background-position: -16px -154px;
}

.flag.flag-tr {
    background-position: -32px -154px;
}

.flag.flag-tt {
    background-position: -48px -154px;
}

.flag.flag-tv {
    background-position: -64px -154px;
}

.flag.flag-tw {
    background-position: -80px -154px;
}

.flag.flag-tz {
    background-position: -96px -154px;
}

.flag.flag-ua {
    background-position: -112px -154px;
}

.flag.flag-ug {
    background-position: -128px -154px;
}

.flag.flag-um {
    background-position: -144px -154px;
}

.flag.flag-us {
    background-position: -160px -154px;
}

.flag.flag-uy {
    background-position: -176px -154px;
}

.flag.flag-uz {
    background-position: -192px -154px;
}

.flag.flag-va {
    background-position: -208px -154px;
}

.flag.flag-vc {
    background-position: -224px -154px;
}

.flag.flag-ve {
    background-position: -240px -154px;
}

.flag.flag-vg {
    background-position: 0px -165px;
}

.flag.flag-vi {
    background-position: -16px -165px;
}

.flag.flag-vn {
    background-position: -32px -165px;
}

.flag.flag-vu {
    background-position: -48px -165px;
}

.flag.flag-wales {
    background-position: -64px -165px;
}

.flag.flag-wf {
    background-position: -80px -165px;
}

.flag.flag-ws {
    background-position: -96px -165px;
}

.flag.flag-xk {
    background-position: -112px -165px;
}

.flag.flag-ye {
    background-position: -128px -165px;
}

.flag.flag-yt {
    background-position: -144px -165px;
}

.flag.flag-za {
    background-position: -160px -165px;
}

.flag.flag-zanzibar {
    background-position: -176px -165px;
}

.flag.flag-zm {
    background-position: -192px -165px;
}

.flag.flag-zw {
    background-position: -208px -165px;
}

.page-download {
    background: rgb(17, 17, 17);
}

.page-download #site-footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.page-download.search #site-footer {
    position: relative;
}

#movie-genre-list {
    background: url("img/overlay.html") rgb(165, 1, 12);
    box-shadow: rgb(17, 17, 17) 0px 10px 15px -5px inset;
    border-top: 1px solid rgb(51, 51, 51);
    text-transform: uppercase;
}

#movie-genre-list ul {
    margin: 0px;
    padding: 25px 0px;
    list-style: none;
}

#movie-genre-list .fa {
    margin-right: 5px;
}

.error h1,
.error h2 {
    font-family: Oswald;
    text-transform: uppercase;
}

.error h1 {
    font-size: 80px;
}

.offer .progress {
    margin-top: 45px;
    margin-bottom: 15px;
    height: 3px;
    box-shadow: rgb(0, 0, 0) 0px 1px 2px inset;
    border-radius: 3px;
}

.offer .progress-bar {
    transition: none 0s ease 0s !important;
}

.offer .progress-bar-success {
    background-color: rgb(204, 0, 0);
    box-shadow: rgb(0, 0, 0) 0px 1px 2px inset;
}

.offer .spinner.loading {
    position: relative;
}

.offer span.icon-lock {
    position: relative;
    font-size: 34px;
    color: rgb(204, 0, 0);
    top: 6px;
    left: 0px;
}

#details {
    padding-top: 15px;
}

.row {
    margin-bottom: 20px;
}

.text-danger {
    color: rgb(236, 5, 0);
}

.navbar.navbar-default.navbar-sports {
    background-color: rgb(0, 0, 0);
    background-image: url("../../../../ww16.topsports24.live/nfl/img/header1b1c.html");
    opacity: 0.6;
    margin-bottom: 0px;
}

.backuptitle {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 32px;
}

.word-wrap {
    overflow-wrap: break-word;
}

.navbar {
    min-height: 60px;
}

.container-mobile {
    display: none;
}

.team-logo {
    max-width: 50%;
    display: inline-block;
}

.Blink {
    animation: 1.5s cubic-bezier(0.5, 0, 1, 1) 0s infinite alternate none running blinker;
}

@keyframes blinker {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.readbefr-back {
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 30px;
    font-family: Oswald, sans-serif;
    font-weight: 700;
    text-shadow: rgb(204, 0, 0) 0px 1px 1px;
}

@media (max-width: 479px) {
    .btn-offer {
        display: block;
        width: 100%;
        margin-bottom: 2px;
        padding-left: 20px;
    }
}

@media (max-width: 767px) {
    .nomobile {
        display: none !important;
    }
    .table-responsive {
        border: 0px;
    }
    .side-toggle {
        top: 18px;
    }
    .navbar-fixed-top {
        margin-bottom: 0px;
    }
    .navbar-default .navbar-form {
        margin: -1px -15px 0px;
    }
    .navbar-default .navbar-nav>li>a,
    .navbar-default .navbar-brand {
        padding: 15px;
    }
    .navbar-center {
        position: inherit;
        width: 100%;
    }
    .navbar-form .input-group {
        display: inline-block;
        width: 100%;
    }
    .navbar-default .navbar-form {
        margin: 0px;
        padding: 10px 0px;
        position: relative;
        width: auto;
    }
    #home {
        padding: 0px;
    }
    #player {
        padding: 0px;
        margin-top: 10px;
    }
    #player .container,
    #home .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    #player-modal .modal-header,
    #player-modal .modal-footer {
        position: relative;
    }
    #player-modal .modal-body .modal-text,
    #player-modal .modal-body .modal-ft {
        width: 100%;
        bottom: 0px;
    }
    #ext-download .ext-row .ext-title {
        padding-right: 100px;
    }
    .site-links,
    .site-credit {
        text-align: center;
    }
    .site-links li:first-child a {
        padding-left: 10px;
    }
    #counter {
        position: relative;
        right: auto;
        bottom: auto;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px 15px 11px;
        text-align: center;
        clear: both;
    }
    #counter .globe {
        position: relative;
    }
    #counter .globe::before {
        top: 0px;
        left: -3px;
    }
    .player-cover {
        margin-top: 0px;
    }
    #video {
        padding-top: 8px;
    }
    #button-server {
        padding-bottom: 20px;
    }
    .backuptitle {
        font-size: 27px;
        padding: 0px 15px;
    }
    .col-xs-6.col-sm-6.col-md-6 {
        display: none;
    }
    .container-mobile {
        display: inline;
    }
    .col-xs-3 {
        width: 50%;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

@media (max-width: 992px) {
    [class*="col-0"] {
        float: left;
        display: inline-block;
        vertical-align: baseline;
    }
    @media (min-width: 992px) {}
}